{% extends "./layout.njk" %}

{% block content %}

  <h1 class="site-title">Chip Cullen</h1>
  <h2 class="site-subtitle">mission driven<br />web developer</h2>

  <ul class="home-nav">
    <li><a href="{{ '/about/' | url }}">about</a></li>
    <li><a href="https://github.com/chipcullen">github</a></li>
    <li><a href="https://www.linkedin.com/in/chipcullen/">linkedin</a></li>
  </ul>

  <main>
  <h3>Blog Posts</h3>
  {# {{ collections.post | console | safe }} #}
    <ul>
    {% for post in collections.posts | reverse %}
      {% include "./partials/post-summary.njk" %}
    {% endfor %}
    </ul>
  </main>

{% endblock %}
