{% extends "./layout.njk" %}

{% block content %}
  <header class="home-header">
    <h1 class="site-title">
      <a href="/">
      Chip Cullen
      </a>
    </h1>
    <h2 class="site-subtitle">mission driven<br />web developer</h2>

    <nav class="home-nav">
      <ul>
        <li><a href="{{ '/about/' | url }}">about</a></li>
        <li><a href="https://github.com/chipcullen">github</a></li>
        <li><a href="https://www.linkedin.com/in/chipcullen/">linkedin</a></li>
      </ul>
    </nav>

    <img class="header-backdrop" aria-hidden="true"
      src="https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_485/v1669128912/chip_cullen_sketch_computer_nobg_y25mib.webp"
      srcset="
        https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_485/v1669128912/chip_cullen_sketch_computer_nobg_y25mib.webp 485w,
        https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_970/v1669128912/chip_cullen_sketch_computer_nobg_y25mib.webp 970w,
        https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_1024/v1669128912/chip_cullen_sketch_computer_nobg_y25mib.webp 1024w,
        https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_2048/v1669128912/chip_cullen_sketch_computer_nobg_y25mib.webp 2048w"
      sizes="40vw"
      loading="lazy"
      alt=""/>
  </header>

  <main>
    <h3 class="blog-posts-title">Blog Posts</h3>
    {# {{ collections.post | console | safe }} #}
    <ul class="blog-posts">
    {% for post in posts %}
      {% include "./partials/post-summary.njk" %}
    {% endfor %}
    </ul>

    <div class="pagination">
    {% if pagination.href.previous %}
      <a href="{{pagination.href.previous}}">Newer Posts</a>
    {% endif %}

      Page {{ pagination.pageNumber + 1 }} of {{pagination.pages.length }}

    {% if pagination.href.next %}
      <a href="{{pagination.href.next}}">Older Posts</a>
    {% endif %}
    </div>
  </main>
{% endblock %}
