<!DOCTYPE html>
<html lang="en-us">
  {% include "./partials/siteHead.njk" %}

    {% if './src/posts/' in page.inputPath %}
      {% set pageClass = "post" %}
    {% elif './src/pages/tag' in page.inputPath %}
      {% set pageClass = "tag" %}
    {% elif './src/pages/all' in page.inputPath %}
      {% set pageClass = "all" %}
    {% elif './src/pages/about' in page.inputPath %}
      {% set pageClass = "about" %}
    {% elif './src/pages/' in page.inputPath %}
      {% set pageClass = "page" %}
    {% elif './src/index' in page.inputPath %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      {% set pageClass = "home" %}

    {% endif %}

  <body class="{{ pageClass }}">

    {% if './src/index' not in page.inputPath %}
      {% include "./partials/home-link.njk" %}
    {% endif %}

    {% block content %}{% endblock %}


    {% include "./partials/footer.njk" %}
    {# <!--JS-->
    {% if version.js | length == 0 %}
      {% set JsVersion = '' %}
    {% else %}
      {% set JsVersion = version.js %}
    {% endif %}
    <script type="module" src="/index{{ JsVersion }}.js"></script> #}

    {% if './src/index' in page.inputPath %}
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>

    {% endif %}
  </body>
</html>
