<!DOCTYPE html>
<html lang="en-us">
  {% include "./partials/siteHead.njk" %}

    {% if './src/posts/' in page.inputPath %}
      {% set pageClass = "post" %}
    {% elif './src/pages/' in page.inputPath %}
      {% set pageClass = "page" %}
    {% elif './src/index' in page.inputPath %}
      {% set pageClass = "home" %}
    {% endif %}
  <body class="{{ pageClass }}">
    <div class="hidden">
      {% include './partials/sprite.svg' %}
    </div>

    {% if page.url == '/' %}
      {% set showHomeLink = false %}
    {% else %}
      {% set showHomeLink = true %}
    {% endif %}

    {% include "./partials/header.njk" %}

    {% block content %}{% endblock %}

    {% include "./partials/footer.njk" %}
    <!--JS-->
    {% if version.js | length == 0 %}
      {% set JsVersion = '' %}
    {% else %}
      {% set JsVersion = version.js %}
    {% endif %}
    <script type="module" src="/index{{ JsVersion }}.js"></script>
  </body>
</html>
