{% extends "./layout.njk" %}

{% block content %}
  <main>
    <h1>Tagged “{{ tag }}”</h1>

    <ol>
    {% set taglist = collections[ tag ] %}
    {{ taglist | console | safe }}
    {% for post in taglist | reverse %}
    hi
      {# {% include "./partials/post-summary.njk" %} #}
    {% endfor %}
    </ol>
  </main>
{% endblock %}
