.menu-outer {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  transition: width 0.1s;

  .menu__nav {
    opacity: 0;
    transition: opacity 0.1s;
    padding-top: 40px;
  }

  &.is-open {
    width: 250px;
    height: calc(100vh - 40px);
    background-color: var(--color);
    color: var(--background);
    z-index: 1;

    .menu__nav {
      opacity: 1;
    }

    svg {
      fill: currentColor;
      width: 20px;
      height: 20px;
    }
  }

  .menu-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--color);
    color: var(--background);
    border-radius: 50%;
    border: 1px solid var(--background);
    cursor: pointer;
    z-index: 2;
  }
}

// Altertnative approach
.menu-is-open *:not(.menu-outer, .menu-outer *) {
  opacity: 0.5;
}

// this is not the menu, but main, outside the menu,
// when the menu is open
[inert], [inert] * {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  user-select: none;
}
