@use './includes/includes' as *;

.post,
.page {
  @include top-cap($texture: 'cerulean_corner_texture_eieurc');
}

body.tag {
  @include top-cap($texture: 'orange_texture_j0t27l');
}

body.all {
  @include top-cap($texture: 'orange_blue_texture_g5fop7');

  &::before {
    background-position: 110% -5vh;
  }
}

.page,
.post {
  main {
    width: 90vw;
    max-width: 70ch;

    position: relative;
    z-index: 1;

    img {
      max-width: 100%;
    }
  }
}

.post {
  h1 {
    border-block-end: .5vh solid var(--accent-color);
  }

  time {
    @include time-stamp();
    margin-block-end: var(--spacing-block-triple);
  }

  .pagination {
    margin-block-start: var(--spacing-block-double);
  }
}

pre[class*="language-"] {
  &:has(+ p) {
    display: block;
    margin-block-end: 1.2rem;
  }
}
