.post {
  outline: 10px solid green;
  position: relative;

  &::before {
    background-image: url('https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_300/v1669146466/cerulean_corner_texture_eieurc.webp');
    background-repeat: no-repeat;
    background-position: top right;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;
    pointer-events: none;

    @media (min-width: 800px) {
      background-image: url('https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_600/v1669146466/cerulean_corner_texture_eieurc.webp');
    }

    @media (min-width: 1200px) {
      background-image: url('https://res.cloudinary.com/chipcullen/image/upload/c_scale,w_800/v1669146466/cerulean_corner_texture_eieurc.webp');
    }

  }
}

.page main,
.post main {
  width: 90vw;
  max-width: 70ch;
  margin-inline: auto;
  position: relative;
  z-index: 1;

  img {
    max-width: 100%;
  }
}

pre[class*="language-"] {
  &:has(+ p) {
    display: block;
    margin-block-end: 1.2rem;
  }
}
