html {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family);
  background: var(--background);
  color: var(--color);
  width: 100%;
  position: relative;
}

main {
  padding-block: 2vh;
  padding-inline: 2vw;
}
