* {
  margin: 0;
  padding: 0;
}

:root {
  width: 100%;
  position: relative;
  background: var(--background);
  color: var(--foreground);
  color-scheme: light dark;
  font-family: var(--font-family-root);
  font-size: var(--font-size-root);
}

main {
  padding-block: var(--spacing-block);
  padding-inline: var(--spacing-inline);
}
