@use './custom-properties';

@use './header';

@use './menu';

@use './prism';

html {
	color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--background);
  color: var(--color);
}

.hidden {
	display: none;
}



section {
  margin: 20px;
  column-width: 40ch;
  column-count: 2;
  max-width: 100ch;
  column-rule: .09rem solid currentColor;
  column-gap: 3rem;

}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  column-span: all;
  font-family: var(--mono);
}

h2 {
  font-size: 1.5rem;
  font-weight: 550;
  font-family: var(--mono);
  margin-bottom: 1rem;
  column-span: all;
  border-top: 7px solid currentColor;
  padding-top: 1rem;
  margin-top: 2rem;
}

a {
  color: currentColor;
  text-underline-offset: .15rem;
  text-decoration-line: underline;
  text-decoration-thickness: .10rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 1rem;

}

p:first-of-type {
  column-span: all;
  font-size: 1.4rem;
  line-height: 1.4;
}

ul {
  list-style: disc;
}

li {
  margin-left: 2rem;
  font-size: 1.2rem;
  line-height: 1.3;
  padding-bottom: 1rem;
  break-inside: avoid;

}
