<footer class="footer">

  <div class="footer__greeting">
    <p>Hello! I’m Chip. <strong>Chip Cullen</strong>. I’m an engineering manager and front end developer currently working at <a href="https://www.pbs.org/">PBS</a>, currently living in the Washington D.C. area.</p>

    <p>I believe in the power of the web to do good in this world.</p>

    <p>This site uses <a href="https://fonts.google.com/specimen/Source+Serif+4">Source Serif 4</a> for typesetting it’s headlines. Body text, such as this sentence, is set in whatever your device’s UI type is.</p>

    <p>Sketches by me, in fountain pen and watercolor.</p>
  </div>

  <div class="footer__meta">
    <ul class="footer__nav">
      <li><a href="{{ '/all/' | url }}">all tags and posts</a></li>
      <li><a href="{{ '/about/' | url }}">about</a></li>
      <li><a href="https://github.com/chipcullen">github</a></li>
      <li><a href="https://www.linkedin.com/in/chipcullen/">linkedin</a></li>
      <li><a href="https://www.instagram.com/chipcullen/">instagram</a></li>
      <li><a href="{{ '/styleguide/' | url }}">styleguide</a></li>
      {# <li><a href="">rss</a></li> #}
    </ul>

    <p class="footer__copyright">&copy; {{ metadata.author.name }} 2010 - {% year %}</p>
  </div>

</footer>

<picture class="footer-backdrop" aria-hidden="true">
  <source media="(max-width: 500px)"
      srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_north,h_548,o_98,w_500/v1669064957/dc-skyline-sketch-2-cropped_lv33es.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_north,h_1096,o_99,w_1000/v1669064957/dc-skyline-sketch-2-cropped_lv33es.webp 2x">
  <source media="(max-width: 800px)"
      srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_north,h_548,o_98,w_800/v1669064957/dc-skyline-sketch-2-cropped_lv33es.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_north,h_1096,o_99,w_1600/v1669064957/dc-skyline-sketch-2-cropped_lv33es.webp 2x">

  <img class=""
    src="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_north,h_548,o_98,w_1369/v1669064957/dc-skyline-sketch-2-cropped_lv33es.webp"
    srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_north,h_548,o_98,w_1369/v1669064957/dc-skyline-sketch-2-cropped_lv33es.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_north,h_1096,o_99,w_2738/v1669064957/dc-skyline-sketch-2-cropped_lv33es.webp 2x"
    loading="lazy"
    alt=""/>
</picture>
