<footer class="footer">

  <div class="footer__greeting">
    <p>Hello! I’m Chip. <strong>Chip Cullen</strong>. I’m an engineering manager and front end developer currently working at <a href="https://www.pbs.org/">PBS</a>, currently living in the Washington D.C. area.</p>

    <p>I believe in the power of the web to do good in this world.</p>

    <p>This site uses <a href="https://fonts.google.com/specimen/Source+Serif+4">Source Serif 4</a> for typesetting it’s headlines. Body text, such as this sentence, is set in whatever your device’s UI type is.</p>

    <p>Sketches by me, in fountain pen and watercolor.</p>
  </div>

  <div class="footer__meta">
    <ul class="footer__nav">
      <li><a href="{{ '/all/' | url }}">all tags and posts</a></li>
      <li><a href="{{ '/about/' | url }}">about</a></li>
      <li><a href="https://github.com/chipcullen">github</a></li>
      <li><a href="https://www.linkedin.com/in/chipcullen/">linkedin</a></li>
      <li><a href="https://www.instagram.com/chipcullen/">instagram</a></li>
      <li><a href="{{ '/styleguide/' | url }}">styleguide</a></li>
      {# <li><a href="">rss</a></li> #}
    </ul>

    <p class="footer__copyright">&copy; {{ metadata.author.name }} 2010 - {% year %}</p>
  </div>

</footer>

<picture class="footer-backdrop" aria-hidden="true">
  <source media="(min-width: 2000px)"
      srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_scale,o_98,w_3000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_scale,o_98,w_6000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 2x">
  <source media="(min-width: 1201px)"
      srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_scale,o_98,w_2000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_scale,o_98,w_4000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 2x">
  <source media="(min-width: 801px)"
      srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_xy_center,h_500,o_98,w_1200,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_xy_center,h_1000,o_98,w_2400,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 2x">
  <source media="(min-width: 501px)"
      srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_xy_center,h_400,o_98,w_800,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_xy_center,h_800,o_98,w_1600,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 2x">
  <source media="(max-width: 500px)"
      srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_xy_center,h_500,o_98,w_500,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_fill,g_xy_center,h_1000,o_98,w_1000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 2x">

  <img
    src="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_scale,o_98,w_2000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp"
    srcset="https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_scale,o_98,w_2000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 1x,
      https://res.cloudinary.com/chipcullen/image/upload/b_rgb:000000,c_scale,o_98,w_4000,x_2621,y_0/v1669135587/dc-skyline-sketch-2_orjndj.webp 2x"
    loading="lazy"
    alt=""/>
</picture>
