{% if showHomeLink == true %}
  {% set headerClass = 'header--home' %}
{% endif %}

{# @TODO do I need this logic around showing the home link and header class? #}
{% if showHomeLink == true %}
<header class="{{ headerClass }}" >
  <a href="/"><i>chip</i>: <b>cullen</b>;</a>
</header>
{% endif %}

<div class="menu-outer" data-menu="menu-outer">
  <button class="menu-btn" hidden="true" data-btn="menu" aria-haspopup="true">Menu</button>
  <div data-menu-wrapper="data-menu-wrapper">
    <nav class="menu__nav">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="/" hidden="true" data-home-link="data-home-link">Home</a>
        </li>

        {% for page in collections.page %}
          <li class="menu__item">
            <a class="menu__link" href="{{ page.url }}">{{ page.data.title }}</a>
          </li>
        {% endfor %}

        {% for item in menudata %}
          <li class="menu__item">
            <a class="menu__link" href="{{ item.url }}" target="_blank">
              {{ item.title }}
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                <use href="#{{ item.icon }}"/>
              </svg>
            </a>
          </li>
        {% endfor %}

      </ul>
    </nav>
  </div>
</div>
