{% if showHomeLink == true %}
  {% set headerClass = 'header--home' %}
{% endif %}

{# @TODO do I need this logic around showing the home link and header class? #}
{% if showHomeLink == true %}
<header class="{{ headerClass }}" >
  <a href="{{ '/' | url }}">Chip Cullen</a>
</header>
{% endif %}


