{# Learned from
- https://support.cloudinary.com/hc/en-us/articles/202521512-How-to-add-a-special-characters-in-text-overlays
- https://www.learnwithjason.dev/blog/add-text-overlay-cloudinary/
- https://www.learnwithjason.dev/blog/auto-generate-social-image/
- And a lot of experimentation in the Cloudinary console.
- SourceSerif4Bold is a custom font that I uploaded in the Cloudinary console.
#}
<meta property="og:image" content="https://res.cloudinary.com/chipcullen/image/upload/c_fill,e_negate,h_630,w_1200/c_fit,g_west,h_630,l_text:SourceSerif4Bold.ttf_70:{{ title | urlencode }},co_white,w_1000,x_20,y_20/g_south_west,l_text:Roboto_35:ChipCullen.com,co_white,x_20,y_40/v1669146466/pthalo_blue_texture_fyc8cy.png"/>
